<h1>Template Galleries</h1>
<p>Feel free to look at our design templates before placing your order. Remember, Studio Polaris can provide <b>custom</b> business cards -- these designs are only a starting point.</p>
<ul id="template_options" class="ltr_menu">
<li>[CATAGORY1]Individual Front Designs[CATAGORY1A]</li>
<li>[CATAGORY2]Team Front Designs[CATAGORY2A]</li>
<li>[CATAGORY0]Back Designs[CATAGORY0A]</li>
</ul>
<h2 class="center red">[CATAGORY_NAME] Designs</h2>
<table border="0" id="templates">
[TEMPLATES]
</table>