<form name="checkout" method="POST" action="https://checkout.google.com/cws/v2/Merchant/605049493821640/checkoutForm" accept-charset="utf-8">
  <input type="hidden" name="item_name_1" value="Business Cards"/>
  <input type="hidden" name="item_description_1" value="[DESCRIPTION]"/>
  <input type="hidden" name="item_quantity_1" value="[QUANTITY]"/>
  <input type="hidden" name="item_price_1" value="[PRICE]"/>

[EXTRA_ITEMS]

  <input type="hidden" name="ship_method_name_1" value="Free Shipping"/>
  <input type="hidden" name="ship_method_price_1" value="0.00"/>

  <input type="hidden" name="tax_rate" value="0.0675"/>
  <input type="hidden" name="tax_us_state" value="OH"/>

  <input type="hidden" name="_charset_"/>