<div class="center"><h1 style='margin-bottom:0px;'>Full Color Printing Online Order</h1>
<h2 class="spaced">Welcome to Our Online Ordering System.</h2>

<h3 class="spaced"><a href="gallery.php">Business Cards/Magnets Template Gallery</a></h3>
</div>
<center>
<div class="center" id="loginboxes">
<h3 class="red">Coming Soon</h3>
<h4 class="spaced" >Flyers</h4>
<h4 class="spaced">Postcards</h4>
<h4>Upload Your Custom Files</h4>
<h4 class="spaced">Custom Printing</h4>

<h4>Custom Design Services</h4>
<h4 id="thinking"></h4>
</div></center>
</div>