<p><b>Registration Successful</b></p>
<form method="POST" action="register.php">
<input type="hidden" name="return_to" value="[return_to]">
<table>
<tr><td colspan="2">Thank you for registering an account.  Your email to login in [email] and your password is [password].<br>Please remember to write down the password as it is encrypted and we are unable to retrieve it.</td></tr>
<tr><td colspan="2">Please take a moment to fill out this information, as you will need it for your business cards.</td></tr>
<tr><td><b>basic</b><br/></td><td></td></tr>
<tr><td align="right">name</td><td><input type="text" name="name" value="" \></td></tr>
<tr><td align="right">position</td><td><input type="text" name="position" value="e.g. Realtor" \></td></tr>
<tr><td align="right">alternate email</td><td><input type="text" name="altemail" value="" \></td></tr>


<tr><td><b>phone</b> - (xxx) xxx-xxxx</td><Td></td></tr>
<tr><td align="right">direct</td><td><input type="text" name="direct" value="" \></td></tr>
<tr><td align="right">office</td><td><input type="text" name="office" value="" \></td></tr>
<tr><td align="right">cell</td><td><input type="text" name="cell" value="" \></td></tr>
<tr><td align="right">fax</td><td><input type="text" name="fax" value="" \></td></tr>
<tr><td align="right">other</td><td><input type="text" name="other" value="" \></td></tr>

<tr><td><b>address</b></td><Td></td></tr>
<tr><td align="right"></td><td><textarea name="address" rows="4" cols="18"></textarea></td></tr>


<tr><td><b>website</b></td><Td></td></tr>
<tr><td align="right">http://</td><td><input type="text" name="website" value="example.com" \></td></tr>

<tr><td><b>slogan</b></td><Td></td></tr>
<tr><td align="right"></td><td><textarea name="slogan" rows="4" cols="18"></textarea></td></tr>

<tr><Td><b>picture</b></td><td></td></tr>
<tr><td align="right"><p><b>current picture</b></p>

<img style="border:3px solid #333;" src="" align="center" alt="">
<p>if you would like to upload a new picture, click <a href="../steptwo/changePicture.php">here</a></p>

</td><Td></td></tr>

<tr><td></td><td><input type="submit" value="confirm"></input></td>
</table>
</form>